@import url("https://unpkg.com/leaflet@1.5.1/dist/leaflet.css");
/* @import url("../../../node_modules/leaflet/dist/leaflet.css"); */

.leaflet-div-icon {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: none;
  margin: 0 !important; /*for centering purposes*/
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.zoomed {
  width: 85px !important;
  height: 85px !important;
}

.leaflet-div-icon-hover {
  width: 300px !important;
  height: 300px !important;
  border-radius: 5%;
  margin: -50px !important;
}

.icon-z-index {
  z-index: 10000 !important;
}

.marker-text-hover {
  width: 250px;
  height: 250px;
  opacity: 1;
  z-index: 20000000;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup {
  left: -51px !important;
  top: 255px;
  background-color: grey;
}

.leaflet-popup h1 {
  font-size: 20px;
}

.leaflet-popup-content-wrapper {
  width: 300px;
  height: 150px;
  border-radius: 5%;
  background-color: whitesmoke;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 8px;
  right: 8px;
}
